<div class="container">
  <h1>Calculadora</h1>
  <div class="calculadora">
    <input type="text" id="pantalla" class="form-control">
    <div class="buttons">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="numero(7)">7</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(8)">8</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(9)">9</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="operador('+')">+</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="numero(4)">4</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(5)">5</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(6)">6</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="operador('-')">-</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="numero(1)">1</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(2)">2</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="numero(3)">3</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="operador('*')">*</button>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col">
          <button class="btn btn-primary" (click)="numero(0)">0</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="operador('.')">.</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="borrar()">C</button>
      </div>
        <div class="col">
          <button class="btn btn-primary" (click)="operador('/')">/</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="calcular()">=</button>
        </div>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
